@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
p{
  font-size: 18px;
}
a{
  transition:0.3s
}

main{
  padding-left: 18rem; /* 288px */
  padding-right: 18rem; /* 288px */
  display: flex;
  flex-direction: column;
  gap: 3rem; /* 48px */
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
h1,h2{
  text-transform: uppercase;
  font-weight: 700;
}
h1{
  font-size: 3rem; /* 48px */
  line-height: 1;
}
h2{
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
